DATABASE_URL=
JWT_SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

KAFKA_BOOTSTRAP_SERVERS=
TRACE_CONSUMER_GROUP = 
TRACE_TOPIC = 

REDIS_HOST=
REDIS_PORT=
REDIS_DB=

SMTP_EMAIL=
SMTP_PASSWORD=
SMTP_HOST=
SMTP_PORT= 

NVIDIA_API_KEY =
LLM_MODEL =